:root {
  --primary-bg-color: #000000;
  --text-color: #F9DEE5;
  --secondary-text-color: #000000;
  --tertiary-color: #DF504A;
}

html {
  font-size: 10px;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Code snippet to use */

/* How to center anything in an HTML element
- Set the HTML Element as display: flex
- Set justify-content and align-items to center
- https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
  font-size: normal;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 0 auto;
}

/* Add additional styles as needed */

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* Footer styling */
footer {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  text-align: center;
  margin-top: 5vh;
  padding: 10px 0;
  width: 100%;
}