/* The addition of heart and cart icons and the collapsible panel for detailed product information were decisions made to enhance user interaction and navigation. These features, often found in online shopping platforms, were adapted to our context to provide a familiar yet enhanced user experience. The heart and cart buttons offer a visual representation of user preferences and selections, while the collapsible panel offers detailed product information upon demand, contributing to a cleaner, uncluttered user interface. */
/*  All these design decisions were deeply influenced by the context of an interactive online fashion shopping experience. I aimed to incorporate elements from physical shopping experiences while leveraging the capabilities of digital platforms to provide an enhanced, user-centric, and engaging shopping scenario. */
body {
  display: flex;
  margin: 0px;
}

#wishlist-panel {
  flex-grow: 1;
  width: 300px;
  transition: width 0.5s;
  background-color: beige;
  margin-right: 20px;
}

#wishlist-panel.collapsed {
  width: 0;
  opacity: 0;
}
#main-content {
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
}

#header-container {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#wishlist-button,
#cart-button {
  flex: 1;
}

#cart-button {
  margin-right: 20px;
}

#header-container img {
  object-fit: fill;
  width: 40vw;
  height: 100px;
  margin: 10px 0;
}
#header-container .pacer {
  flex: 8;
}

/* Code snippet to use */

/* How to center anything in an HTML element
- Set the HTML Element as display: flex
- Set justify-content and align-items to center
- https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.round-button {
  background-color: #ffffff; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  font-size: 40px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 50%; /* Rounded button */
  width: 50px;
  height: 50px;
}
